absl-py==0.12.0
altair==4.1.0
altgraph==0.17
aniso8601==7.0.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.4.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
autopep8==1.5.6
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.10.0
bleach==3.3.0
blinker==1.4
blis==0.7.4
boto3==1.17.68
botocore==1.20.69
bottle==0.12.19
bottle-websocket==0.2.9
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.1
captcha==0.3
catalogue==2.0.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chart-studio==1.1.0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
comtypes==1.1.10
cryptography==3.4.7
cvzone==1.5.2
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
dash==2.0.0
dash-auth==1.4.1
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dearpygui==0.8.16
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.2
django-cors-headers==3.7.0
django-filter==2.4.0
django-graphql-auth==0.3.16
django-graphql-jwt==0.3.0
docutils==0.17.1
docx2txt==0.8
Eel==0.14.0
emoji==1.2.0
entrypoints==0.3
enum-compat==0.0.3
enum34==1.1.10
fastapi==0.68.1
filelock==3.0.12
Flask==2.0.1
Flask-Compress==1.10.1
Flask-RESTful==0.3.9
Flask-SeaSurf==0.3.1
Flask-WTF==1.0.0
flatbuffers==1.12
forex-python==1.6
future==0.18.2
gast==0.4.0
gevent==21.1.2
gevent-websocket==0.10.1
gitdb==4.0.7
GitPython==3.1.14
google-api-core==2.0.0
google-api-python-client==2.17.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googleapis-common-protos==1.53.0
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.0
grpcio==1.34.1
gTTS==2.2.3
h11==0.12.0
h5py==3.1.0
httplib2==0.19.1
idna==2.10
image==1.5.33
imageai==2.1.5
imageio==2.9.0
imageio-ffmpeg==0.4.3
imutils==0.5.4
install==1.3.4
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
lmdb==1.2.1
Markdown==3.3.4
MarkupSafe==2.0.1
mathparse==0.1.2
matplotlib==3.4.1
mediapipe==0.8.6
mistune==0.8.4
MouseInfo==0.1.3
moviepy==1.0.3
murmurhash==1.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.2
notebook==6.3.0
numpy==1.19.5
oauthlib==3.1.0
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
Panda3D==1.10.10
panda3d-gltf==0.13
panda3d-simplepbr==0.8
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pathy==0.5.2
pdfminer==20191125
pefile==2021.5.13
pickleshare==0.7.5
Pillow==8.2.0
Pint==0.17
pipenv==2021.5.29
plotly==5.4.0
preshed==3.0.5
proglog==0.1.9
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.15.8
psutil==5.8.0
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycaw==20181226
pycodestyle==2.7.0
pycountry==20.7.3
pycparser==2.20
pycryptodome==3.14.0
pydantic==1.7.4
pydeck==0.6.2
pygame==2.0.1
pygeoip==0.3.2
PyGetWindow==0.0.9
Pygments==2.8.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyJWT==1.7.1
pymongo==3.11.3
PyMsgBox==1.0.9
pynput==1.7.3
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223
pypng==0.0.20
pypowerprojects==1.1.6
PyQRCode==1.2.1
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.27
python-dateutil==2.7.5
pyttsx3==2.90
pytube==10.8.4
PyTweening==1.0.3
pytz==2021.1
pywebio==1.2.3
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==1.0.0
PyYAML==3.13
pyzbar==0.1.8
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rich==10.16.2
rsa==4.7.2
Rx==1.6.1
s3transfer==0.4.2
scikit-learn==0.24.1
scipy==1.6.3
screeninfo==0.7
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
SimpleITK==2.1.0
simplejson==3.17.3
singledispatch==3.6.1
six==1.15.0
smart-open==3.0.0
smmap==4.0.0
soupsieve==2.3.1
spacy==3.0.6
spacy-legacy==3.0.5
SQLAlchemy==1.2.19
sqlparse==0.4.1
srsly==2.4.1
starlette==0.14.2
streamlit @ file:///F:/PYTHON%20GITHUB/STREAMLIT/demo-face-gan-master/streamlit-0.68.0-py2.py3-none-any.whl
tenacity==8.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0rc3
tensorflow-estimator==2.5.0rc0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3
thinc==8.0.3
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
twilio==6.63.2
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.26.4
ursina==4.0.0
user-agents==2.2.0
utils==1.0.1
uvicorn==0.15.0
validators==0.18.2
virtualenv==20.4.7
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
wasabi==0.8.2
watchdog==2.0.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
wget==3.2
whichcraft==0.6.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
WTForms==3.0.1
xlwt==1.3.0
zope.event==4.5.0
zope.interface==5.4.0
